body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

svg {
  width: 30px;
}

a {
  text-decoration: none;
  color: #2f2f2f;
}

button {
  cursor: pointer;
}

.container {
  width: 900px;
  max-width: 90vw;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  transition: 0.5s;
  margin-bottom: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.icon-cart {
  position: relative;
  cursor: pointer;
}

.icon-cart span {
  position: absolute;
  background-color: red;
  top: 50%;
  right: -8px;
  width: 22px;
  height: 22px;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: xx-large;
}

/* CartTab */
.cartTab {
  background-color: #353432;
  color: #eee;
  width: 400px;
  max-width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
}

.cartTab h1 {
  padding: 20px;
  margin: 0;
  font-weight: 400;
}

.cartTab .btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cartTab .btn button {
  background-color: #e8bc0e;
  border: none;
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
}

.cartTab .btn .close {
  background-color: #eee;
}

.cartTab .listCart {
  overflow: auto;
}

.cartTab .listCart::-webkit-scrollbar {
  width: 0;
}

.cartTab {
  right: -400px;
  transition: 0.5s;
}

body.activeTabCart .cartTab {
  right: 0;
}

body.activeTabCart .container {
  transform: translateX(-150px);
}

/* List Products item*/

.listProduct {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.listProduct .item {
  background-color: #eeeee6;
  padding: 20px;
  border-radius: 10px;
}

.listProduct .item h2 {
  font-size: large;
  font-weight: 500;
}

.listProduct .item img {
  width: 90%;
  filter: drop-shadow(0 50px 20px #0009);
}

.listProduct .item .price {
  letter-spacing: 2px;
  font-size: 16px;
}

.listProduct .item button {
  background-color: #ccc;
  border: none;
  border-radius: 4px;
  padding: 8px;
  color: #cd611e;
  font-weight: 600;
  margin-top: 10px;
}

/* List cart */
.listCart .item img {
  width: 100%;
}

.listCart .item {
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  align-items: center;
  text-align: center;
}

.listCart .quantity {
  display: flex;
  gap: 6px;
}

.listCart .quantity span {
  width: 25px;
  height: 25px;
  background-color: #eee;
  color: #000;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.listCart .quantity span:nth-child(2) {
  background-color: transparent;
  cursor: default;
  color: #fff;
}

.listCart .item:nth-child(even) {
  background-color: #eee1;
}

/* Detail */
.detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  text-align: left;
}

.detail .image img {
  width: 100%;
}

.detail .image {
  position: relative;
}

.detail .image::before {
  position: absolute;
  content: "";
  width: 300px;
  height: 300px;
  background-color: #94817733;
  z-index: -1;
  border-radius: 190px 100px 170px 180px;
  left: calc(50% - 150px);
  top: 50px;
}

.detail .name {
  font-size: xx-large;
  margin: 0 0 10px 0;
  padding: 40px 0 0 0;
}

.detail .price {
  font-weight: bold;
  font-size: x-large;
  letter-spacing: 4px;
  margin-bottom: 20px;
  display: block;
}

.detail .buttons button {
  background-color: #eee;
  border: none;
  padding: 14px 20px;
  border-radius: 10px;
  /* font-family: Poppins; */
  font-size: large;
  transition: 0.3s;
  font-weight: 500;
  box-shadow: 0 10px 20px #2f2f2f77;
  margin-right: 10px;
}

.detail .buttons button:nth-child(2) {
  background-color: #2f2f2f;
  color: #fff;
}

.detail .buttons button:nth-child(2):hover {
  opacity: 0.8;
}

.detail svg {
  width: 15px;
  height: 15px;
}

.addCart {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 992px) {
  .listProduct {
    grid-template-columns: repeat(3, 1fr);
  }
  .detail {
    grid-template-columns: 40% 1fr;
  }
}

/* mobile */
@media only screen and (max-width: 767px) {
  .listProduct {
    grid-template-columns: repeat(2, 1fr);
  }
  .detail {
    text-align: center;
    grid-template-columns: 1fr;
  }
  .detail .image img {
    width: unset;
    height: 40vh;
  }
  .detail .name {
    font-size: x-large;
    margin: 0;
  }
  .detail .buttons button {
    font-size: small;
  }
  .detail .buttons {
    justify-content: center;
  }
}
